#hero {

	.hero-header {
		margin-bottom: 2rem;

		h1 {
			color: $white;
			font-size: 5.2rem;
			line-height: 1.2;

			@include breakpoint(large down) {
				font-size: 4.5rem;
			}

			@include breakpoint(medium down) {
				font-size: 3rem;
			}

			@include breakpoint(small only) {
				font-size: 2rem;
			}

			small {
				color: lighten($primary-color, 15%);
				font-size: 3rem;

				@include breakpoint(large down) {
					font-size: 2.5rem;
				}

				@include breakpoint(medium down) {
					font-size: 1.8rem;
				}

				@include breakpoint(small only) {
					font-size: 1.5rem;
				}
			}
		}
	}

	.hero-content {
		margin-bottom: 2rem;
		color: $white;
		font-size: 1.5rem;

		@include breakpoint(small only) {
			font-size: 1rem;
		}
	}

	.hero-action {

		.text {
			padding-top: 1rem;
			color: $white;
			font-size: 1.3rem;

			@include breakpoint(small only) {
				font-size: 1rem;
			}

			a {
				color: lighten($primary-color, 15%);
			}
		}
	}
}

.hero-image {
	background: linear-gradient(rgba(10, 46, 49, 0.8), rgba(10, 46, 49, 0.8)),
							url('../images/background-images/background01.jpg');
}