.off-canvas{
	height: 100%;
	background-color: darken($primary-color, 15%);

	.menu {
		
		a {
			padding: 1.5rem;
			color: $white;
			font-family: 'Montserrat', sans-serif;
			font-size: 1rem;
			font-weight: 400;

			&:hover {
				text-decoration: none;
			}
		}

		.submenu {
			border: none;
			
			a {
				padding: 1.5rem 1.5rem 1.5rem 2.5rem;
				font-size: 0.8rem;
				background-color: darken($primary-color, 20%);
			}
		}
	}

	.is-accordion-submenu-parent > a {

		&::after {
			right: 2rem;
			border-color: $white transparent transparent;
		}
	}
}